{% extends 'base.html.twig' %}

{% block body %}
    {% if app.session is not null and app.session.started %}
        {% for label, messages in app.session.flashbag.all %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-10">
            <h3 class="text-dark text-uppercase font-weight-bold">Products</h3>
        </div>
        <div class="col-2">
            <a class="btn btn-dark float-right" href="{{ path('products_new') }}" role="button"><i class="fas fa-plus"></i></a>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="container">
            <div class="row">
            {% for product in products %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <div class="card shadow-sm h-100">
                        <div class="card-body d-flex flex-column">
                            <a href="{{ path('products_item', {slug: product.slug}) }}" class="text-dark text-decoration-none stretched-link">
                                <h5 class="font-weight-bold center">{{ product.name }}</h5>
                            </a>
                            <p class="card-text mt-auto"><small class="text-muted">Last updated: <strong>{{ product.updated|date('M-d G:i:s') }}</strong></small></p>
                        </div>
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}