{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css">
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-10">
        <h3 class="text-dark text-uppercase font-weight-bold">{{ product.name }}</h3>
        <p>{{ product.description|raw }}</p>
    </div>
    <div class="col-2">
        <a class="btn btn-dark float-right" href="{{ path('products_index') }}" role="button"><i class="fas fa-backward"></i></a>
    </div>
</div>
<div class="row mt-3 mb-3">
    <div class="col">
        <div class="card shadow-sm">
            <div class="card-body">
                <h4 class="mb-3 font-weight-bold">Variations</h4>
                <div class="table-responsive">
                    <table class="table table-sm bg-white border-0" data-toggle="table" data-pagination="true" data-search="true">
                        <caption>
                            <svg width="25" height="25">
                                <rect width="25" height="25" style="fill:#28a745 "></rect>
                            </svg>
                            = IN STOCK
                            <br>
                            <svg width="25" height="25">
                                <rect width="25" height="25" style="fill:#dc3545"></rect>
                            </svg>
                            = OUT OF STOCK
                        </caption>
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" data-sortable="true" data-field="name">Name</th>
                            <th scope="col" data-sortable="true" data-field="price" data-sorter="totalCurrencySort">Price</th>
                            <th scope="col" data-sortable="true" data-field="date">Date</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody class="table-borderless">
                        {% for variation in variations %}
                            {% set price = variation.prices|first %}
                            <tr class="{{ variation.inStock == 1 ? 'bg-success' : 'bg-danger' }} text-w">
                                <td><a href="{{ variation.url }}" target="_blank" class="text-dark text-decoration-none">{{ variation.name }}</a></td>
                                <td>€{{ price.price / 100 }}</td>
                                <td>{{ price.date|date('Y-m-d H:i:s') }}</td>
                                <td class="text-center"><a href="{{ path('variation_item', {slug: product.slug, variationSlug: variation.slug}) }}" class="btn btn-dark"><i class="fas fa-history"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
    <script>
        function totalCurrencySort(a, b, rowA, rowB) {
            a = +a.substring(1); // remove $
            b = +b.substring(1);
            if (a > b) return 1;
            if (a < b) return -1;
            return 0;
        }
    </script>
{% endblock %}