{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="row d-flex justify-content-between">
        <div class="p-2">
            <h2>Dashboard - Products</h2>
        </div>
        <div class="p-2">
            <a class="btn btn-primary" href="dashboard/scrapable/add" role="button">Add scrapable product</a>
        </div>
    </div>
    <table class="table mt-3">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td><a href="{{ product.url }}" target="_blank">{{ product.name }}</a></td>
                    <td>
                        €{{ (product.price / 100)|round(2) }} <br />
                        <strong>€{{ (product.price / 100 * 0.65)|round(2) }}</strong> (35% discount)
                    </td>
                    <td>{{ product.date|date('Y-m-d H:i:s') }}</td>
                    <td><a class="btn btn-primary mb-3" href="dashboard/{{ product.id }}" role="button"><i class="fas fa-info-circle"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
