{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <div class="row d-flex justify-content-between">
        <div class="p-2">
            <h2><a href="{{ product.url }}" target="_blank">{{ product.name }}</a></h2>
        </div>
        <div class="p-2">
            <a class="btn btn-primary" href="/" role="button">Back</a>
        </div>
    </div>
    <h3>Graph</h3>
    <div id="div_chart" class="mt-3"></div>
    <h3>History</h3>
    <table class="table mt-3">
        <thead>
        <tr>
            <th scope="col">Price</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
            {% for price in prices|sort|reverse %}
                <tr>
                    <td>
                        €{{ (price.price / 100)|round(2) }} <br />
                        <strong>€{{ (price.price / 100 * 0.65)|round(2) }}</strong> (35% discount)
                    </td>
                    <td>{{ price.date|date('Y-m-d H:i:s') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {{ gc_draw(linechart, 'div_chart') }}
    </script>
{% endblock %}
